body {
    background-color: #d8d8d8;
}

.navbar-default .navbar-nav>li>a {
    color: #777;
    font-size: large;
    font-weight: bold;
}
form {
    width: 50%;
    margin: 0 auto;
    margin-top: 150px;
}
h1{
    text-align: center;
    margin-top: 10px;
    font-family: Georgia;
}
p {
    margin-top: 20px;
}
.register {
    text-align: center;
    font-family: Georgia;
}
.profile {
    text-align: center;
}